[submodule "docs/references/paneforge"]
	path = docs/references/paneforge
	url = https://github.com/svecosystem/paneforge
[submodule "docs/references/convex-agent"]
	path = docs/references/convex-agent
	url = https://github.com/get-convex/agent
[submodule "docs/references/svelte-infinite"]
	path = docs/references/svelte-infinite
	url = https://github.com/ndom91/svelte-infinite
[submodule "docs/references/convex-svelte"]
	path = docs/references/convex-svelte
	url = https://github.com/mmailaender/convex-svelte.git
	branch = feat/pagination
