[submodule "docs/references/paneforge"]
	path = docs/references/paneforge
	url = https://github.com/svecosystem/paneforge
[submodule "docs/references/convex-agent"]
	path = docs/references/convex-agent
	url = https://github.com/get-convex/agent
